{% extends "layout.html" %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      {% for movie in movies %}
      <a href='/movies/{{movie.Title}}'>
        <img class="poster" src={{movie.Poster}}>
      </a>
      {% endfor %}
    </div>

    <!-- {% if showForm %} -->
  <!-- <form action="/tweets" method="POST">
    <label for="name_field">Name:</label>
    <input name="name" type="text" id="name_field" />

    <label for="text_field">Text:</label>
    <input name="text" type="text" id="text_field" style="width: 350px;" />

    <input type="submit" value="Submit" />
  </form> -->
<!-- {% endif %} -->

  </div>

{% endblock %}
