html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  background-color: black;
  /* Negative indent footer by its height */
  /*margin: 0 auto -60px;*/
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
.navbar-inverse {
  background-color: white;
}
.poster:hover{
  opacity: 0.5;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.moviesView {
  color: white;
}

.poster{

  display: inline-block;
  height: 22em;
  width: auto;
  /*padding-right: 1em;*/
  /*padding-bottom: 2em;*/
}
.sepPoster{
  display: inline;
  height: 40em;
  width: auto;
  padding-right: 1em;
  padding-bottom: 2em;
}

.tweetbox {
  padding: 7px;
}

.tweetbox img {
  float: left;
  height: 48px;
  width: 48px;
  content:url("http://lorempixel.com/48/48");
}
.content {
  margin-left: 60px;
}
.content .by {
  font-weight: bold;
}
